<div class="col-lg-6">
	<section class="panel">
	    <header class="panel-heading">
	        Nouveau de type de tâche
	    </header>
		<div class="panel-body">

			<%= render 'form' %>

		</div>
	</section>
	<%= link_to '<< Retour', task_types_path %>
</div>