<div class="col-lg-6">

	<section class="panel">
	    <header class="panel-heading">
	        Modifier <%= @company.name %>
	    </header>
		<div class="panel-body">

			<%= render 'form' %>
		</div>
	</section>
	<%= link_to '<< Retour', companies_path %>
</div>

