<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity_state.name %>
</p>

<%= link_to 'Edit', edit_activity_state_path(@activity_state) %> |
<%= link_to 'Back', activity_states_path %>
