<div class="col-lg-3">
	<section class="panel">
	    <header class="panel-heading">
	        Nouvelle activité
	    </header>
		<div class="panel-body">

			<%= render 'form' %>

		</div>
	</section>
</div>